<div class="page-header">
  <h1>
    Journeys
    <a href="/journeys/new" class="btn btn-lg btn-success">New Journey</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Origin</th>
        <th>Destination</th>
        <th>Capacity</th>
        <th>Date</th>
        <th>Price</th>
        <th>Organizer</th>
        <th>Actions</th>
      </tr>

      <% @journeys.each do |journey| %>
      <tr>
        <td><%= journey.origin %></td>
        <td><%= journey.destination %></td>
        <td><%= journey.capacity %></td>
        <td><%= journey.date %></td>
        <td><%= journey.price %></td>
        <td><%= journey.organizer_id %></td>
        <td>
          <a href="/journeys/<%= journey.id %>" class="btn btn-primary">Show</a>
          <a href="/journeys/<%= journey.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_journey/<%= journey.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
