<div class="page-header">
  <h3>Journey #<%= @journey.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Origin</dt>
      <dd><%= @journey.origin %></dd>

      <dt>Destination</dt>
      <dd><%= @journey.destination %></dd>

      <dt>Capacity</dt>
      <dd><%= @journey.capacity %></dd>

      <dt>Date</dt>
      <dd><%= @journey.date %></dd>

      <dt>Price</dt>
      <dd><%= @journey.price %></dd>

      <dt>Organizer</dt>
      <dd><%= @journey.organizer.email %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/journeys" class="btn btn-primary">
        Back
      </a>
      <a href="/journeys/<%= @journey.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_journey/<%= @journey.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>

    </div>

    <div class="btn-group btn-group-justified">

      <form action="/create_seat" method="post">
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

        <!-- Label and input for journey_id -->
        <div class="form-group">
          <input type="hidden" id="journey_id" name="journey_id" placeholder="Journey" class="form-control" value="<%= @journey.id %>">
        </div>

        <!-- Label and input for user_id -->
        <div class="form-group">
          <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
        </div>

        <button class="btn btn-success">
          Take Seat
        </button>

      </form>

    </div>

  </div>

</div>
